:root {
  --background-color: #263343;
  --logo-color: #d4e157;
  --text-color: #f0f4f5;
  --hover-backgroundcolor: #7986cb;
  --icons-color:
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.navbar__logo {
  padding-left: 8px;
  font-size: 24px;
}

.navbar__logo i {
  color: var(--logo-color);
}

.navbar__menu {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar__menu li {
  padding: 12px 24px;
}

.navbar__menu li:hover {
  background-color: var(--hover-backgroundcolor);
  border-radius: 20px;
}

.navbar__icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar__icons i {
  padding: 4px 8px;
  font-size: 20px;
  color: var(--icons-color);
}
